# fly.toml app configuration file generated for luka-vapor on 2025-10-19T23:05:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'luka-vapor'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[env]
  LOG_LEVEL = 'info'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
